services:
  postgres:
    image: postgres:17.4
    container_name: first-aid-kit-db
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 5s
      timeout: 5s
      retries: 5

  api:
    image: ghcr.io/nextstepprodev/first-aid-kit-api:master
    container_name: first-aid-kit-api
    platform: linux/amd64
    depends_on:
      postgres:
        condition: service_healthy
    ports:
      - "8080:8081"
    environment:
      - SPRING_PROFILES_ACTIVE=docker
      - SERVER_PORT=8081
      - SERVER_ADDRESS=0.0.0.0
      
      - SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/${POSTGRES_DB}
      - SPRING_DATASOURCE_USERNAME=${POSTGRES_USER}
      - SPRING_DATASOURCE_PASSWORD=${POSTGRES_PASSWORD}
      
      - SPRING_MAIL_HOST=smtp.gmail.com
      - SPRING_MAIL_PORT=587
      - SPRING_MAIL_USERNAME=${MAIL_USERNAME}
      - SPRING_MAIL_PASSWORD=${MAIL_PASSWORD}
      - SPRING_MAIL_PROPERTIES_MAIL_SMTP_AUTH=true
      - SPRING_MAIL_PROPERTIES_MAIL_SMTP_STARTTLS_ENABLE=true
      
      - JWT_SECRET=${JWT_SECRET}
      - APP_CORS_ALLOWED_ORIGINS=http://localhost,http://127.0.0.1
    restart: unless-stopped

  frontend:
    image: ghcr.io/nextstepprodev/first-aid-kit-web:master
    container_name: first-aid-kit-frontend
    platform: linux/amd64
    depends_on:
      - api
    ports:
      - "80:80"
    restart: unless-stopped
