services:
  # Strażnik domeny i certyfikatów SSL
  nginx-proxy:
    image: 'jc21/nginx-proxy-manager:latest'
    container_name: nginx-proxy
    restart: unless-stopped
    ports:
      - '80:80'
      - '81:81'
      - '443:443'
    volumes:
      - ./nginx-data:/data
      - ./nginx-letsencrypt:/etc/letsencrypt

  postgres:
    image: postgres:17.4
    container_name: first-aid-kit-db
    restart: unless-stopped
    environment:
      POSTGRES_DB: first_aid_kit
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d first_aid_kit"]
      interval: 5s
      timeout: 5s
      retries: 5
    deploy:
      resources:
        limits:
          memory: 256M

  api:
    image: ghcr.io/nextstepprodev/first-aid-kit-api:master
    container_name: first-aid-kit-api
    restart: always
    depends_on:
      postgres:
        condition: service_healthy
    environment:
      SPRING_PROFILES_ACTIVE: docker
      SERVER_PORT: 8081
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/first_aid_kit
      SPRING_DATASOURCE_USERNAME: ${POSTGRES_USER}
      SPRING_DATASOURCE_PASSWORD: ${POSTGRES_PASSWORD}
      SPRING_MAIL_USERNAME: ${MAIL_USERNAME}
      SPRING_MAIL_PASSWORD: ${MAIL_PASSWORD}
      APP_CORS_ALLOWED_ORIGINS: "https://firstaidkit.pl,https://www.firstaidkit.pl,http://firstaidkit.pl,http://api.firstaidkit.pl"
      JWT_SECRET: ${JWT_SECRET}
    deploy:
      resources:
        limits:
          memory: 512M

  frontend:
    image: ghcr.io/nextstepprodev/first-aid-kit-web:master
    container_name: first-aid-kit-frontend
    environment:
      - REACT_APP_API_URL=http://api.firstaidkit.pl/api
    restart: always
    depends_on:
      - api

volumes:
  postgres_data:
    name: first-aid-kit-persistent-db
